---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/ssl/ca.crt
authorization:
  mode: Webhook
cgroupDriver: systemd
clusterDNS:
  - "{{ K8S_DNS_SERVICE_IP }}"
maxPods: {{ K8S_NODE_MAXPODS }}
containerLogMaxSize: {{ LOG_MAX_SIZE }}
containerLogMaxFiles: {{ LOG_MAX_FILES }}
allowedUnsafeSysctls:
  - "net.*"
clusterDomain: cluster.local
healthzBindAddress: 127.0.0.1
healthzPort: 10248
memorySwap: {}
staticPodPath: /etc/kubernetes/manifests
