[Unit]
Description=gateway
Wants=network.target

[Service]
Environment=PATH=/opt/bin:$PATH

ExecStart=/opt/bin/gateway \
  --configFile=/etc/kubernetes/services/k8s-gateway/global.yaml

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
