[Unit]
Description=envoy
Wants=network.target

[Service]
Environment=PATH=/opt/bin:$PATH

ExecStart=/opt/bin/envoy \
  -c /etc/kubernetes/services/k8s-envoy/envoy.yaml

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
