name: Release Images 1.30

on:
  push:
    branches:
      - release-1.30

env:
  BUILD_VERSION: v1.30.14

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v2
        with:
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.REGISTRY_USER_ALIYUN }}
          password: ${{ secrets.REGISTRY_PASSWORD_ALIYUN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: ansible-kubernetes-images-amd64
        run: |
          docker run --rm \
            -v $PWD/:/go/src/github.com/open-beagle/ansible-kubernetes \
            -w /go/src/github.com/open-beagle/ansible-kubernetes \
            -e CI_WORKSPACE=/go/src/github.com/open-beagle/ansible-kubernetes \
            -e PLUGIN_SOURCE=registry.cn-qingdao.aliyuncs.com/wod \
            -e PLUGIN_YAML=linux/vars/1.30.yml \
            -e PLUGIN_IMAGE=K8S_IMAGES \
            -e PLUGIN_ARCH=amd64 \
            -e PLUGIN_GROUP=k8s \
            -e PLUGIN_RELEASE=.tmp/ansible-kubernetes-images-${{ env.BUILD_VERSION }}-amd64.tgz \
            registry.cn-qingdao.aliyuncs.com/wod/devops-docker-images:1.0.0

      - name: ansible-kubernetes-images-arm64
        run: |
          docker run --rm \
            -v $PWD/:/go/src/github.com/open-beagle/ansible-kubernetes \
            -w /go/src/github.com/open-beagle/ansible-kubernetes \
            -e CI_WORKSPACE=/go/src/github.com/open-beagle/ansible-kubernetes \
            -e PLUGIN_SOURCE=registry.cn-qingdao.aliyuncs.com/wod \
            -e PLUGIN_YAML=linux/vars/1.30.yml \
            -e PLUGIN_IMAGE=K8S_IMAGES \
            -e PLUGIN_ARCH=arm64 \
            -e PLUGIN_GROUP=k8s \
            -e PLUGIN_RELEASE=.tmp/ansible-kubernetes-images-${{ env.BUILD_VERSION }}-arm64.tgz \
            registry.cn-qingdao.aliyuncs.com/wod/devops-docker-images:1.0.0

      - name: Setup MinIO Client
        run: |
          wget https://dl.min.io/client/mc/release/linux-amd64/mc
          chmod +x mc
          sudo mv mc /usr/local/bin/

      - name: Upload to MinIO
        env:
          S3_ACCESS_KEY_ALIYUN: ${{ secrets.S3_ACCESS_KEY_ALIYUN }}
          S3_SECRET_KEY_ALIYUN: ${{ secrets.S3_SECRET_KEY_ALIYUN }}
        run: |
          mc alias set aliyun --api=S3v4 https://cache.ali.wodcloud.com ${{ secrets.S3_ACCESS_KEY_ALIYUN }} ${{ secrets.S3_SECRET_KEY_ALIYUN }}
          mc cp --recursive .tmp/ aliyun/kubernetes/ansible
